mediaListSltr = $('ul.media-list#chat-history');
textarea = $('#new_message textarea');
mediaListSltr.append("#{j render partial: 'messages/message', object: resource}");
scrollToBottom();
textarea.val('');
textarea.focus();