= hidden_field_tag "request_chat_id", resource.id
#chat-container
  .span9#left_block
    #chat-history
      =render partial: 'messages/message', collection: resource.messages
    #form_message
      = simple_form_for @message, url: chat_messages_path(resource), method: :post, remote: true do |f|
        = f.input :text, label: false, input_html: {rows: false}
        = f.submit t('submit.send'), class: 'btn btn-success'
