// index
#chats-index
  .media 
    padding: 5px
    border: 1px solid #ddd
    border-radius: 5px
    border-collapse: separate

// show
#left_block, #right_block
  margin-top: 15px
#left_block
  height: 97%
  display: table
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  ul#chat-history
    display: table-row
  form
    display: table-cell
    padding: 15px 0
    vertical-align: bottom
    textarea
      resize: none
#right_block
  position: fixed
  right: 0
  