.cursor-pointer
  cursor: pointer

.ajax-loader
  position: fixed
  top: 50%
  left: 48%
  width: 55px
  padding: 5px
  background-color: rgba(0, 0, 0, 0.59)
  z-index: 1234
  display: none
  border-radius: 10px

.centered
  float: none
  margin-left: auto
  margin-right: auto
