// chosen-rails :
.chzn-container.chzn-container-multi, .chzn-container.chzn-container-single
  margin-bottom: 15px
  ul.chzn-choices
    border-radius: 4px
.chzn-drop
  border-radius: 4px
  ul.chzn-results
    max-height: 100px
